# Ignore artifacts:
build
coverage

*.html
**/.git
**/.svn
**/.hg
**/node_modules

# NOTE: I do not want format CSS because I have a preferencial style to read quickly the information on the page
*.css 
*.scss 
