@use '00-load-fonts' as *;
@use '02-tools' as *;

// VARIABLES

// --BREAKPOINTS

/* Breakpoints */
$break-mobile:toRem(576);
$break-tablet-potrait:toRem(768);
$break-tablet-landscape:toRem(992);
$break-desktop:toRem(1200);
$break-desktop-l:toRem(1440);
$break-desktop-xl:toRem(1920);

// --SPACING
$space-xxl: toRem(48);
$space-xl: toRem(32);
$space-l: toRem(24);
$space-m: toRem(16);
$space-s: toRem(8);
$space-xs: toRem(4);
$space-xxs: toRem(2);

// --TYPOGRAPHY
$font-fallback-sansSerif: "helvetica, arial, sans serif"; 
$font-fallback-serif: "times new roman, times, serif"; 
$font-family-primary:"Lato", #{$font-fallback-sansSerif};
$font-family-secondary: "Georgia", #{$font-fallback-serif};
$font-family-tertiary: "Nunito", #{$font-fallback-sansSerif};

$font-size-xl: toRem(32);
$line-height-xl: toRem(36);

$font-size-l: toRem(24);
$line-height-l: toRem(28);

$font-size-m: toRem(16);
$line-height-m: toRem(20);


$h1: toRem(48);
$h1-line-height: toRem(48);

$h2: toRem(32);
$h2-line-height: toRem(32);

$h3: toRem(26);
$h3-line-height: toRem(26);

$h4: toRem(20);
$h4-line-height: toRem(20);

$h5: $font-size-m;
$h5-line-height: $font-size-m;

$h6: $font-size-m;
$h6-line-height: $line-height-m;


// --COLORS
$link: #00c;
$link-visited: #A4B;
$link-active: #c00;

$white: #fff;
$grey-l3: #f0f0f0;
$grey-l2: #eee;
$grey-l1: #ddd;
$grey: #ccc;
$grey-d1: #999;
$grey-d2: #666;
$grey-d3: #333;
$black: #000;

$color-primary-l2: var(--color-primary-l2);
$color-primary-l1: var(--color-primary-l1);
$color-primary: var(--color-primary);
$color-primary-d1: var(--color-primary-d1);
$color-primary-d2: var(--color-primary-d2);

$green: #080;

// --RADIUS
$radius-m: toRem(8);