@use '01-settings' as *;
@use '02-tools' as *;

// GRID SYSTEM
.cols{
    display:grid;
    grid-gap:$space-l;
}

// LISTS
.list{margin-left:$space-l;}
.list__li{list-style-type:disc; margin-bottom:$space-s;}

// CONTAINERS
.box{
    border:1px solid $grey-l;
    padding:$space-m;
    margin-bottom:$space-m;
}

.box__title{
    color:$green;
    margin-bottom:$space-m;
}

// BUTTONS
.btn{
    border:1px solid $grey; 
    background:$white;
    padding:$space-s $space-m;
    border-radius: $radius-m;
}

// ICONS
.icon--size-xs{width:toRem(16); height:toRem(16);}
.icon--size-s{width:toRem(24); height:toRem(24);}
.icon--size-m{width:toRem(32); height:toRem(32);}
.icon--size-l{width:toRem(48); height:toRem(48);}
.icon--size-xl{width:toRem(64); height:toRem(64);}