@use '01-settings' as *;


// MIN WIDTH
@media only screen and (min-width: $break-mobile-s){ // 480px
    .svgiconlist--grid{grid-template-columns:1fr 1fr;}
}

@media only screen and (min-width: $break-mobile){ // 576px
    .page{width:$break-mobile; padding:$space-xl;}
}

@media only screen and (min-width: $break-tablet-potrait){ // 768px
    .page{width:$break-tablet-potrait;}
    .svgiconlist--grid{grid-template-columns:1fr 1fr 1fr 1fr;}
}

@media only screen and (min-width: $break-tablet-landscape){ // 992px
    .page{width:$break-tablet-landscape;}
}

@media only screen and (min-width: $break-desktop){ // 1200px
    .page{width:$break-desktop;}
}

// MAX WIDTH
@media only screen and (max-width: calc($break-mobile - 1px)){
    .main-header__title{margin-bottom:$space-m;}
    .main-header, .main-nav__ul{flex-direction:column;}
}

/* NOT USED
@media only screen and (min-width: $break-desktop-l){ // 1440px

}

@media only screen and (min-width: $break-desktop-xl){ // 1920px

}
*/

/* TABLE MEDIA QUERIES for mobile & tablet */
@media 
only screen and (max-width: $break-mobile),
(min-device-width: $break-mobile) and (max-device-width: $break-tablet-potrait)  {

    :root .table{
        // Force table to not be like tables anymore
        display:block; 
        thead, tbody, th, td, tr{display:block;}
        
        // Hide table headers for accessibility
        thead tr { 
            position: absolute;
            top: -999px;
            left: -999px;
        }
        td, th{border-width:1px 0;}
    }
}
