@use 'styles/01-settings' as *;

// created to apply the same class value to multiple columns at the same time (useful for symmetrical declaration of columns)
@mixin column($n, $max){
    %mod#{$n} {
        @content;
    }
    $i: $n;
    @while $i <= $max {
        .grid__col#{$i} {
            @extend %mod#{$n};
        }
        $i: $i + 1;
    }
}

@mixin col-size-1{grid-column:span 1;}
@mixin col-size-2{grid-column:span 2;}
@mixin col-size-3{grid-column:span 3;}
@mixin col-size-4{grid-column:span 4;}
@mixin col-size-6{grid-column:span 6;}
@mixin col-size-8{grid-column:span 8;}
@mixin col-size-10{grid-column:span 10;}
@mixin col-size-12{grid-column:span 12;}

@mixin row-size-1{grid-row:span 1;}
@mixin row-size-2{grid-row:span 2;}
@mixin row-size-3{grid-row:span 3;}
@mixin row-size-4{grid-row:span 4;}
@mixin row-size-5{grid-row:span 5;}
@mixin row-size-6{grid-row:span 6;}

.grid{display:grid; grid-template-columns:repeat(12, 1fr);}

.grid--pad{
    &-xs {padding: $space-xs;}
    &-s {padding: $space-s;}
    &-m {padding: $space-m;}
    &-l {padding: $space-l;}
    &-xl {padding: $space-xl;}
}
  
.grid--col-pad{
    &-xs .grid__col{padding: $space-xs;}
    &-s .grid__col{padding: $space-s;}
    &-m .grid__col{padding: $space-m;}
    &-l .grid__col{padding: $space-l;}
    &-xl .grid__col{padding: $space-xl;}
}

.grid--gap {
    &-xs {grid-gap: $space-xs 0;}
    &-s {grid-gap: $space-s 0;}
    &-m {grid-gap: $space-m 0;}
    &-l {grid-gap: $space-l 0;}
    &-xl {grid-gap: $space-xl 0;}
}

.grid__col {
    @include col-size-12;
    word-break: break-word;
}
  
// Tablet size
@media screen and (min-width: 481px) {
    .grid__col{@include col-size-6;}

    .grid--gap {
        &-xs {grid-gap: $space-xs;}
        &-s {grid-gap: $space-s;}
        &-m {grid-gap: $space-m;}
        &-l {grid-gap: $space-l;}
        &-xl {grid-gap: $space-xl;}
    }
}

// Medium Desktop Size
@media screen and (min-width: 769px) {
    .grid__col{@include col-size-1;} // basic value of the length of the column
}
