@use '../../../styles/01-settings' as *;
@use '../../../styles/02-tools' as *;

.colorbox{width:toRem(120); box-shadow:0 3px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.1);}
.colorbox__color{height:toRem(120);}
.colorbox__val{padding:$space-m;}