@use './../../styles/01-settings.scss' as *;

.page{
	min-height:100vh;
	padding:$space-xl; 
	margin:auto; 
	background:$white;
}
.main-header, .main-content, .main-footer{text-align:left;}

.main-footer{margin:$space-xxl 0 0;}
.main-footer__title{margin-bottom:$space-m;}