@use 'styles/01-settings' as *;


.flexible-grid{
    .col{padding:$space-xs $space-s; background:$color-grey-l1; color:$color-black;}
    .col:nth-child(2n+0){background:$color-primary-d1; color:$color-white;}
}
.exp1.cols{}
