@use '02-tools' as *;

// VARIABLES

// TYPOGRAPHY
$base-font-size: 1rem; // 16px
$base-line-height: toRem(20);

$h1: toRem(48);
$h1-line-height: toRem(48);

$h2: toRem(32);
$h2-line-height: toRem(32);

$h3: toRem(26);
$h3-line-height: toRem(26);

$h4: toRem(20);
$h4-line-height: toRem(20);

$h5: $base-font-size;
$h5-line-height: $base-font-size;

$h6: $base-font-size;
$h6-line-height: $base-font-size;

