@use '../../styles/01-settings' as *;
@use '../../styles/02-tools' as *;
@use '../../styles/04-elements' as *;

.box-typography__select-font{
    margin-bottom: $space-m;
    font-weight: bold; 
}

.box-headings__titles{
    h1, h2, h3, h4, h5, h6{
        margin-bottom:$space-s;
    }
}

.box-pragraphs{
    .col2 p{
        font-size: $font-size-l;
        line-height: $line-height-l;
    }
    .col3 p{
        font-size: $font-size-xl;
        line-height: $line-height-xl;
    }      
}

