@use '../../styles/01-settings' as *;
@use '../../styles/02-tools' as *;

.box-headings__titles{
    h1, h2, h3, h4, h5, h6{
        margin-bottom:$space-s;
    }
}

.box-pragraphs{
    .col2 p{
        font-size: toRem(24);
        line-height: toRem(28);
    }
    .col3 p{
        font-size: toRem(32);
        line-height: toRem(36);
    }      
}

